body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container-fluid {
  background-image: url(notebook-paper.jpg);
}

.planner {
  width: 80%;
  margin-right: 0;
  margin-left: 200px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  z-index: 1;
  font-family: 'Pangolin', cursive;
}

.jumbotron {
  text-align: center;
  background-color: #8338ec;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 15px;
  padding-top: 15px;
}

h1 {
  font-family: 'Righteous', cursive;
}

.lead {
  font-family: 'Montserrat', sans-serif;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #ffbe0b;
  color: black;
}

.present {
  background-color: #fb5607;
  color: white;
}

.future {
  background-color: #3a86ff;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #77dd77;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
